:root {
    --clr: #00ff00;
    transition: all 3s ease;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.container {
    position: relative;
    width: 300px;
    margin-top: 50px;
    text-align: center;
}

.cloud {
    position: relative;
    width: 160px;
    height: 90px;
    background: var(--clr);
    border-radius: 200px 200px 0 0;
    box-shadow: 0 0 35px var(--clr);
    margin: 0 auto;
    top: -20px;
    transition: background 3s ease, box-shadow 3s ease;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: var(--clr);
    border-radius: 100px;
    transition: background 3s ease;
}

.cloud::before {
    width: 70px;
    height: 60px;
    top: 30px;
    left: -22px;
}

.cloud::after {
    width: 120px;
    height: 110px;
    top: -20px;
    right: -45px;
}


h2 {
    position: absolute;
    margin: 0;
    top: 80px;
    padding: 5px 10px;
    width: 180px;
    background: var(--clr);
    color: #000;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    box-shadow: 0 0 15px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    transition: background 3s ease, box-shadow 3s ease;
}

.drop {
    position: absolute;
    color: var(--clr);
    animation: fall linear forwards;
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
    transition: color 3s ease;
}

@keyframes fall {
    0% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 80vh;
        opacity: 1;
    }
}

.laying {
    animation: none;
    top: 80vh;
    opacity: 1;
    transition: color 3s ease 1s;
}
